.game-container {
	border: 1px solid #171738;
	box-shadow: 3px 3px 0 #171738;
	padding: 2rem;
	color: #dff3e4;
	width: 70%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.info-container {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #dff3e4;
	margin-bottom: 1rem;
}

.time,
.score {
	color: #171738;
	font-weight: bold;
}

.question {
	color: #171738;
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 2rem;
}

.answer-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 80%;
}

.answer {
	background-color: #dff3e4;
	border: 1px solid #171738;
	box-shadow: 3px 3px 0 #171738;
	box-sizing: border-box;
	width: 40%;
	padding: 1rem 3rem;
	margin-top: 1rem;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	transition: background-color 0.2s ease-in-out;
}

.answer:hover {
	background-color: #17173855;
}
