.questions-list {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.questions-addnew {
	background-color: #dff3e4;
	color: #171738;
	padding: 1rem 3rem;
	font-size: 1rem;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-bottom: 2rem;
}

.play-game {
	background-color: #dff3e4;
	color: #171738;
	font-weight: bold;
	padding: 1rem 3rem;
	border-radius: 10px;
	text-decoration: none;
	margin-bottom: 2rem;
}

.question-wrapper {
	border: 1px solid #171738;
	box-shadow: 3px 3px 0 #171738;
	padding: 2rem;
	color: #dff3e4;
	width: 70%;
	margin-bottom: 2rem;
	position: relative;
}

.question-actions {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1rem;
}

.question-actions {
	display: flex;
}

.question-actions > button {
	background: transparent;
	border: none;
	font-size: 16px;
	/* margin-left: 1rem; */
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 5px;
	transition: background-color 0.2s ease-in-out;
}

.question-actions > button:hover {
	background: #dff3e4;
}

.question-input {
	font-size: 3rem;
	background-color: #dff3e4;
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
}

.question {
	text-align: center;
}

.answers-list {
	text-decoration: none;
	list-style: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

.answers-item {
	margin: 1rem auto;
	border: 1px solid #171738;
	box-shadow: 3px 3px 0 #171738;
	width: 45%;
	transition: background-color 0.3s ease-in-out;
}

.answers-link {
	text-decoration: none;
	color: #dff3e4;
	width: 100%;
	height: 100%;
	padding: 1rem;
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}

.answers-link:hover {
	background-color: #17173855;
}

textarea {
	width: 100%;
	box-sizing: border-box;
}
